.ingred{
    display:flex;
    gap:10px;
}

.quantity{
    flex-grow: 1;
    /* border: 1px solid #ced4da; */
    /* border-radius: 0.25rem; */
}

.ingredient{
    flex-grow: 1;
    /* border: 1px solid #ced4da; */
    /* border-radius: 0.25rem; */
}

