
.recipe {
    display: flex;
    height: 400px;
    width: 100px;
    flex: 0 0 30%;
}


.a:hover {
    text-decoration: none;
    color: white;
}

.card-title{
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

li{
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    list-style:disc;
}