/* You can add global styles to this file, and also import other style files */
//@import '~@angular/material/theming';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//@include mat-core();

body {
    background-image: url(./assets/vintage-old-rustic-cutlery-dark.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    min-height: 100vh;
    backdrop-filter: blur(7px);
    /* cursor: url(./assets/pencil-solid.svg), auto; */
}

nav{
    background-image: url(./assets/tropical-fruits-background-with-copyspace-with-fruits-leaf-copyspace.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

#addRecipeForm {
    color:white;
}

.card-title{
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}



li {
    margin-bottom: 10px;
}

.button-row {
    margin-left: auto;
    margin-bottom: 10px;
}

label {
    padding-right:10px;
}




